body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(192, 252, 252);
}

.contenedor {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: green;
}
/* Pagina principal */

.img1P1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 30px;
}
.marg{
    margin-top: 80px;
    margin-left: 40px;
    width: auto;
    height: auto;
}
.animales{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
    margin-top:100px ;
    text-align: center;
}
.animales2{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;

    text-align: center;
}

.estaciones{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 10px;
    
}
.vidP1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    margin-bottom: 50px;
    margin-top: 50px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px; 
    color: white;
    text-decoration: none;
}

.titu {
    width: 600px;
    height: 20px;
    margin-right: 15px;
    margin-top: 33px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
a.titulo{
    color: white;
    text-decoration: none;
}
.titu2 {
    width: 600px;
    height: 20px;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
/* Pagina2 */
.indice {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.contenedorVS2{
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: green;
}
.info {
    width: auto;
    margin-left: 300px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
}

a {
    outline: none;
    text-decoration: none;
    color: blue;
}

p {
    font-size: large;
}

.p1 {
    font-weight: bold;
    font-size: larger;
}

.p2 {
    text-align: right;
}

.p3 {
    text-align: justify;
}

.p4 {
    font-weight: bold;
    text-align: center;
    font-size: x-large;

}
.videoP2 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: left;
    margin-left: -290px;
    margin-top: -250px;
}
/* Pagina 3 */
.cont3{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    justify-content: center;
}
.tabla{
    width: 70%; 
    table-layout: auto;
    empty-cells: show;
    border-spacing: 1px;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.color{
    background-color: blueviolet;
    border: 1;
    color: white;
}
td.datos{
    background-color: white;
}
tr,td{
    border: 1px solid black;
}
.cont {
    width: auto;
    display: flex;
    flex-direction: column;
}

/* Pagina 4 */
.rutas {
    border: 2px solid black;
    margin-top: 118px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.rut1 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blueviolet;
    color: white;
}

.infRut1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;


}

.map1 {
    margin-right: 50px;
}

.rut2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: azure;
}

.infRut2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    font-style:italic;
    font-size: 20px;
}

.map2 {
    margin-right: 50px;
}

.rut3 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infRut3 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.map3 {
    margin-right: 50px;
}
.rut4 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:green;
    color: white;
}

.infRut4 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    font-style:inherit;
    font-size: 20px;
}

.map4 {
    margin-right: 50px;
}

.vid {
    margin: auto;
    margin-right: 50px;
}

.contenido6{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    flex-direction: row;
    text-align: center;
}
.contenido6vs2{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
    text-align: center;
}
caption{
    text-align: center;
    font-size:x-large;
    color: black;
}